# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Binaries
/HelloWorld_x64/bin/Debug
/HelloWorld_x64/obj
/Launcher/obj
/MiniProfiler/Debug
/MiniProfiler/Release
/MiniProfiler/x64/Debug
/HelloWorld_x86/obj
/MiniProfiler/x64/Release
